@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.font-mons{
  font-family: 'Montserrat', sans-serif;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50% 50% 0 0;
  background-color: gray;
}

.progress-bar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50% 50% 0 0;
  background-color: blue;
  transform-origin: bottom center;
  transform: scaleY(0.7) rotate(180deg);
}
